<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewTeam()">New Team</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a style="cursor: pointer"
       [@list1]
       [routerLink]="[team.id]"
       routerLinkActive="active"
       class="list-group-item clearfix"
       *ngFor="let team of teams">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ team.name }}</h4>
        <p class="list-group-item-text">{{ team.country }}</p>
      </div>
    </a>
  </div>
</div>
